/* A estrela se refere a todos os elementos da pagina (é o chamado reset CSS)  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Na :root podemos declarar variáveis CSS */
:root{
    --vermelho:#E50914;
    --preto:#141414;
}

/*E utilizamos as variáveis com a "função" var(nome_da_variavel)*/
body{
    background-color: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container{
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    color: var(--vermelho);
    font-family: 'Arial Black';
    font-size: 40px;
}

header nav a{
    text-decoration-line: none;
    color: #AAA;
    margin-right: 10px;
    
}
header nav a:hover{
    color: #fff;
}

/* Main movie */

.main_movie{
    position: relative;
    font-size: 20px;
    min-height: 400px;
    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0)), url('../img/bakemonogatari.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: opacity 1s;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 1;
}
.main_movie::before{
    content: "";
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.1)), url('../img/bakemonogatari.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;

}
.main_movie:hover::before{
    opacity: 1;
}

.main_movie .main_movie_title{
    font-size: 40px;
}
.main_movie .movie_description{
    margin-bottom: 10px;
}
/* As características do CSS são herdadas para o primeiro Child do elemento que estamos estilizando */