
/* Main movie */

.main_movie{
    font-family:Arial, Helvetica, sans-serif;
    position: relative;
    font-size: 20px;
    min-height: 400px;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.1)), url('../img/bakemonogatari.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: opacity 1s;
    display:flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

.main_movie::before{
    content: "";
    position: absolute;
    opacity: 0;
    transition: opacity 0.25s;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.1)), url('../img/bakemonogatari.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.main_movie:hover::before{
    opacity: 1;
}

.main_movie div {
    margin-left: 10px;
}

.main_movie .main_movie_title{
    font-size: 40px;
}

.rating{
    color: var(--red);
    z-index: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

div .button_row{
   box-sizing: content-box;
}

.button_row button{
    border-radius: 1em;
    height: 40px;
    min-width: 150px;
    background-color:rgba(229,9,20,.5);
    /* color: var(--red); */
    font-size: 15px;
    transition: background-color 0.25s;
    cursor: pointer;
}
.button_row button:hover{
    background-color: var(--red);
}
.info-square{
    color:blueviolet
}
